/* -----------------------------
        Google Font Link
-------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* -----------------------------
        Basic Styles
-------------------------------- */
body{
  font-family: 'Poppins', sans-serif;
}
.header, .container{
  margin: 50px;
}

/* -----------------------------
        Banner Styles
-------------------------------- */

.banner{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #161616;
  border-radius: 25px;
  padding: 25px;
}
.banner-contents{
  width: 60%;
}
.banner-title{
  font-size: 4.5em;
  color: #FFFFFF;
  margin: 0;
}
.banner-author{
  font-size: 1em;
  color: #FFFFFF;
}
.banner-link{
  display: flex;
  justify-content: space-evenly;
  background-color: #DD0000;
  width: 8em;
  padding: .5em;
  border-radius: .5em;
}
.banner-link:hover{
  animation: liveannimation 5s ease-in-out .3s infinite alternate;
  animation-play-state: running;
  position: relative;
}

/* -----------------------------
        Annimation Styles
-------------------------------- */

@keyframes liveannimation {
  0%{
    left: 50px;
    background-color:tomato;
  }
  25%{
    left: 10px;
    background-color:navy;
  }
  50%{
    left: 60px;
    background-color:#DD0000;
  }
  100%{
    left: 20px;
    background-color:darkslateblue;
  }
}

/* -----------------------------
        Banner Styles
-------------------------------- */

.banner-link a{
  text-decoration: none;
  color: #FFFFFF;
}
.banner-image{
  position: relative;
  top: 31px;
}
/* -----------------------------
        Main Section Styles
-------------------------------- */
.main-contents {
  display: flex;
  justify-content: space-between;
}
.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 330px;
  height: 320px;
  background-color: #161616;
  margin-right: 50px;
}
.side-menu a {
  text-decoration: none;
  background-color: white;
  width: 210px;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
  color: #000000;
  text-align: center;
  font-size: 24px;
}
#active-blog{
 background-color: #DD0000;
 color: #FFFFFF;
}
.main-blogs{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.field-blog {
  width: 310px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px lightgray;
}
.button{
  position: relative;
  top: 5px;
  background-color:#f8eddf;
  color: #161616;
  text-decoration: none;
  border: 1px solid #161616;
  border-radius: 5px;
  padding: 0 5px;
}
.blog-title{
  font-size: 18px;
  color: #161616;
}
.rating{
  display: flex;
  justify-content: flex-start;
}
.rating a{
  text-decoration: none;
  color: #161616B2;
  margin-right: 50px;
}
.rating-icon{
  position: relative;
  left: 10px;
}
#cr7{
  background-color: #03038f;
  color: #FFFFFF;
}
.fa-star.cristiano{
  color: #FFC014;
}

.all-content{
  display: none;
  text-align: center;
  margin-top: 20px;
}
.bonus-marks{
 text-decoration: none;
 background-color: #DD0000;
 font-size: 20px;
 color: #FFFFFF;
 padding: 5px 15px;
 border-radius: 5px;
}

/* -----------------------------
    Upcoming Matches Styles
-------------------------------- */

.teams{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.schedule{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule-title{
 font-size: 20px;
 color: #161616;
}
.schedule-detail{
  margin-top: -5px;
  color: #4D4D4D;
}


/* -----------------------------
        Footer Styles
-------------------------------- */
.footer{
  width: 100%;
  height: 30vh;
  background-color: #000000;
}
.football{
  text-align: center;
  padding-top: 2.5em;
  color: #FFFFFF;
}
.footer-link, .footer-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}
hr{
  border: 1px solid rgb(39, 36, 36);
  margin: 0 2.5rem;
  
}
.footer-link a, .footer-icon a{
  text-decoration: none;
  padding: 0 10px;
  color: #B9B9B9
}
/* -----------------------------
        Media Query Styles
-------------------------------- */
@media only screen and (max-width:600px) {
  .banner {
    flex-direction: column;
    margin: -50px;
    margin-bottom: 10px;
  }
  .main-contents{
    flex-direction: column;
    gap: 30px;
  }
  .main-blogs{
    grid-template-columns: repeat(1, 1fr);
  }
  .side-menu {
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 100%;
    height: 30vh;
  }
  .side-menu a{
    border: 1px solid gray;
    margin: 20px;
  }
  .footer{
    width: 100%;
    height: 60vh;
  }
  .footer-link{
    flex-direction: column;
    gap: 15px;
  }
}
@media only screen and (min-width:601px) and (max-width:992px) {
  .banner{
    width: 100%;
  }
  .main-contents{
    flex-direction: column;
    gap: 30px;
  }
  .main-blogs{
    grid-template-columns: repeat(2, 1fr);
  }
  .side-menu {
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 100%;
    height: 20vh;
  }
  .side-menu a{
    border: 1px solid #161616;
    margin: 20px;
  }
  .all-content{
    display: block;
  }
  .footer{
    width: 100%;
    height: 40vh;
  }
  .footer-link {
    flex-wrap: wrap;
    gap: 40px;
   
  }
}

/* -----------------------------
               END
-------------------------------- */